.countUp{
  text-align: center;
  border-left: 6px solid #000000;
  padding: 1em;
  color: red;
}

.countUp-title{
  text-transform: uppercase;
  color: blue;
}


.countUp-value{
  font-size: 10vh;
  color: #e10000;
  font-family: 'Public Sans', sans-serif;
}