 /* Import required fonts */
/***************************************/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap|Public%20Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

hero-inner{
  padding-top: 5%;
}

/* Set size of all headers */
h3{

    font-size: 20px;
    font-weight:600
}

 
 
 h4{
  font-weight:bold;
}

 
p{

    font-size: 12px;
}
 
 
 #subs {
   color: #e10000;
 }
 
#boxxy-value {
  font-size: 2vh;
}


/* a grey container to place dashboard items in*/ 
.grey-container{
  background-color:transparent;
  margin-top: -4px;
}
 

 /* responsive layout for items placed in container - for larger screens*/
.container-inner-contents{
  display: flex;
  flex-direction: row;
  padding-left:-15px;
  padding-right:-15px;
  position: absolute;
  bottom: 0;
  padding-bottom: 2%;
  
}  

 /* responsive layout for items placed in container - for for smaller screens*/
@media (max-width: 800px) {
.container-inner-contents {
    flex-direction: column;
}
}




/* Hero home banner styles */
/***************************************/
.hero{
  /* Using "linear-gradient" to add gradient to the image. This will make the text easier to read */
  background-image: linear-gradient(to bottom right, #868686, rgba(0, 0, 0, 0)), url("stopwatch_banner.jpg") ;


 /* Set a specific height/add padding */
  height: 100vh;
  display: flex;
  padding-left:10px;
  padding-right:10px;
  padding-top:5%;
  padding-bottom:10px;
  margin-left:-15px;
  margin-right:-15px;

  /* Position and center the image to scale nicely on all screens */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}





.hero h1 {
  margin-left: 30px;
  font-family: 'Public Sans', sans-serif;
  height: 18vh;
  font-size: 13.5vh;
  color: white;
  font-weight: bold;
  margin-bottom: 3vh;
  
}

.hero h2 {
  margin-left: 30px;
  margin-bottom: 0px;
  font-family: 'Public Sans', sans-serif;
  height: 9vh;
  font-size: 7vh;
  color: white;
  font-weight: normal;
  margin-bottom: 10vh;
}


/* formatting the header within the hero
.hero h1{
  font-family: 'Public Sans', sans-serif;
  font-size: 72px;
  font-weight: 700;
  color:white;
  }
  
  
/* formatting the tagline within the hero
.hero h2{
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  color: white;
  margin-top: 5px;
  margin-bottom: 15px;
 
  }
  
*/

/* navbar style
/***************************************/
.navbar-default {
  font-family:  'Public Sans Thin', sans-serif;
  /*border-bottom: 10px #333333;*/
  border-bottom: #333333 solid 1px;
  margin: 0 !important;
  font-weight:250; 
  padding: 5px;
  background-color:white;
  font-size: 2.7vh;
  color: #333333;
}

.navbar-brand, .navbar-default:hover .navbar-brand:hover {
  padding: 10px;

}

/* Changes font to black in nav bar */
.navbar-default .navbar-nav > li > a {
  color: #333333;
  background-color: white;

}

/* Changes colour of active (clicked) tab on the nav bar */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  /*outline: 1px solid #333333;*/
  font-family:  'Public Sans Thin', sans-serif;
  background-color: white;
  font-weight:650; 
  color: #333333;
}







/* section 2: boxes on homepage linking to different tabs*/ 


/* Homepage - styling clickable buttons to take to new tab*/
.featured-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18vw;
    word-wrap: break-word;
    background-clip: border-box;
    box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
    flex:1; /* ensures that the boxes are evenly spaced in the container*/
    margin-left: .3vw;
    margin-right: .3vw;
    margin-top: 40vh;
    margin-bottom: .2vh;
    color: #333333;
    font-family: 'Public Sans', sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    }
    
/* Homepage - styling clickable buttons to take to new tab - change backaground color to lght grey on hover*/    
 .featured-item:hover{
   cursor: pointer;
   background-color: #333333;
   color: #ffffff;
   

}   



/* Tab buttons - centre position all the text  */     
.features-text-section {
    text-align: center!important;
    padding: 1rem;
}




/* Format icons on homepage*/ 
.icon-box {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 15px auto 35px auto;
    margin-bottom:10px;
    background: #e10000;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

}


.parent {
  background-color: white
  border-radius: 25px;
}



/* 5 section, separated by simple line, same color as backgorund (div with horizontally divided elements, )
Filter: "None"
Filter: "Black"
*/



.divy{
  display: inline-block;
  vertical-align: text-top;
  height: 95%;
  width: 16%;
  border-radius: 20px;
  margin-top: 0px;
  margin-left: 2vw;
  margin-right: 10px;
  margin-bottom: 5vh;
  padding-inline: 1%;
  padding-block: 1%;
  background: #f6f7f8;
  box-shadow: -3px -3px 5px
  rgba(255,255,255,0.45), 3px 3px 5px
  rgba(94,104,121,0.3);


  /*display: inline-block;
  vertical-align: text-top;
  background-color:  #f8f8f8;
  box-shadow: 5px 0 5px -2px #888;
  width: 18%;
  height: 90%;
  border-radius: 15px;*/
}


.divy2{
  display: inline-block;
  vertical-align: text-top;
  height: 95%;
  width: 16%;
  border-radius: 20px;
  margin-left: 2vw;
  margin-right: 10px;
  padding-inline: 1%;
  padding-block: 1%;
  background: #f6f7f8;
  box-shadow: inset -3px -3px 5px
  rgba(255,255,255,0.45), inset 3px 3px 5px
  rgba(94,104,121,0.3); 


  /*
  display: inline-block;
  vertical-align: text-top;
  background-color:  #e10000;
  colour: white
  box-shadow: 5px 0 5px -2px #888;
  width: 18%;
  height: 90%;
  border-radius: 15px;*/
}


/* National Trends */
/*============================================================================*/

/* Landing page*/
/*----------------------------------------------------------------------------*/

.landing-page {
  padding-top: .5vh; 
  margin-top: 60px;
  margin-left: -2.2vw;
  margin-right: -2.2vw;
  border-color: #333333;
  background-color: #333333;
  background: linear-gradient(rgba(51,51,51,.9), rgba(51,51,51,.9)),
    url('https://deck.gl/images/examples/hexagon-layer.jpg');
  min-height: 92vh;
  max-height: 92vh;
  width: 100vw;
}
.landing-page-title {
  margin-left: 2.2vw;
  font-family: 'Public Sans', sans-serif;
  height: 18vh;
  font-size: 13.5vh;
  color: white;
  font-weight: bold;
  margin-bottom: 3vh;
  
}
.landing-page-subtitle {
  margin-left: 2.2vw;
  margin-bottom: 0px;
  font-family: 'Public Sans', sans-serif;
  height: 9vh;
  font-size: 7vh;
  color: white;
  font-weight: normal;
  margin-bottom: 10vh;
}
.pageview-togggle {
  margin-left: 2.2vw;
  font-family: 'Public Sans', sans-serif;
}
#pageview_toggle_nattre-label {
  color: white;
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
  font-size: 4vh;
}
#pageview_toggle_nattre-stateText {
  color: white;
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
  font-size: 4vh;
}
.label-primary {
  background-color: #e10000;
}
}
#pageview_toggle_nattre.ms-Toggle-background {
}
#pageview_toggle_nattre.ms-Toggle-background.pill-56 {
  background-color: #e10000;
}
.label.switch.label-primary.bg-primary {
  background-color: #e10000;
}
#label.switch.label-primary.bg-primary {
  background-color: #e10000;
}
#pageview-desc-nattre {
  margin-left: 30px;
  color: white;
}



/* National Trends Dashboard */
/*############################################################################*/

/* height 92 */
#natDASH {
  min-height: 92vh;
  max-height: 92vh;
  width: 100vw;
}


#natDASH-buffer {
  height: 3vh;
  width: 100vw;

}
/* height 84 */
#natDASH-contents {
  height: 84vh; 
  width: 100vw;
  margin-left:.5vw;

}

#natDASH-footer {
  height: 2vh;
  width: 100vw;

}

.shiny-input-container:not(.shiny-input-container-inline) {
  height: 5.5vh;
} 

.control-label {
  font-size: 1.5vh;
  font-weight: normal;
}


.btn {
  font-size: 1.4vh;
}


.dropdown-menu.open {
  max-height:55vh !important ;
  min-height:10vh !important ;
}



#bs-select-4.inner.open {
  max-height:55vh !important ;
  min-height:10vh !important ;
}


#box-1 {
  margin-left: -1.5vw;
  width: 135%;
  box-shadow: .5px 2px 2px 0px #cecece;
}

.box-header.with-border {
  background-color: #fbfbfb !important;
}

#box-2 {
  margin-left: -1.5vw;
  width: 135%;
  box-shadow: .5px 2px 2px 0px #cecece;
}
#box-3 {
  margin-left: -1.5vw;
  width: 135%;
  box-shadow: .5px 2px 2px 0px #cecece
}

.control-label {
  font-size: 2vh;
  font-weight: normal;
  font-family: Public Sans Light, sans-serif;
}

.btn.dropdown-toggle.btn-default {
  background-color: white;
}

.filter-option {
  background-color: white;
}

.bs-caret{
  color: #e10000;
}


#box-4 {
  box-shadow: .5px 2px 2px 0px #cecece;
}
#box-5 {
  box-shadow: .5px 2px 2px 0px #cecece
}


.fas.fa-info-circle.data-title {
  content: attr(data-title);
  padding-left: .25em;
  position: absolute;
  bottom: 0;
  margin-bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
  font-size: .5em;
  color: red;
}



#download_chart_format {
 font-size: .65vw; 
}

#download_chart_name {
 font-size: .65vw; 
}


#download_chart_format-label {
  font-size: .85vw;
}
#download_chart_name-label {
  font-size: .85vw;
}


#download_data_format {
 font-size: .65vw; 
}

#download_data_name {
 font-size: .65vw; 
}


#download_data_format-label {
  font-size: .85vw;
}
#download_data_name-label {
  font-size: .85vw;
}


.irs-handle.from {
  color:#ffffff;
}

.irs-handle.to {
  color: #ffffff;
}


.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
  background: #e10000; 
  border-color:#e10000; 
  height:.8vh;
  
}

.irs--shiny .irs-handle {
  background: #fbfbfb;
  border-color: #afafaf;
  height: 2.8vh;
  width: 2.8vh;
}

.irs--shiny .irs-line {
  background-color:#fbfbfb;
  height:0vh;
  border-color:#afafaf;
}

.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
  
  background: white;
  border-width: .2vw;
  border-color: #e10000;
  color: #333333;
}

.filter-option-inner {
  font-size: 1.4vh;
}
  
  
.btn-rad {
  background-color: #e10000;
  border-color: ##e10000;
}

.btn.dropdown-toggle.btn-default {
  background-color:#ffffff!important;
}

.dropdown-item.active.selected {
  background-color: #e10000;
}

.glyphicon {color:#e10000 !important;}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover { 
  background-color: #e10000;
}

#download_chart_format :after, #download_chart_format :before{
                            background-color:#bff442;
                            }
                            
/* https://stackoverflow.com/questions/53850152/change-colour-of-checkbox-using-shinywidgets */

/* National Trends Section One ('Introduction') */
/*----------------------------------------------------------------------------*/

#natS1 {
  min-height: 92vh;
  max-height: 92vh;
  width: 100vw;
}

#natS1-buffer {
  height: 3vh;
  width: 100vw;
}

#natS1-contents {
  height: 83vh;
  width: 100vw;
  margin-right: 5.5vw;
  margin-left:.5vw
}

#natS1-footer {
  height:2vh;
  width:100vw;
}

#natS1-contents-phase1-countup {
  font-size: 9vh;
  color: #e10000;
  float: center;
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
}



/* National Trends Section Two ('Stop and search is not working') */
/*----------------------------------------------------------------------------*/
.section-buffer {
  min-height:15vh;
  max-height:15vh;
}

#natS2 {
  min-height: 92vh;
  max-height: 92vh;
  width: 100vw;
}


#natS2-buffer {
  height: 6vh;
  width: 100vw;

}

#natS2-contents {
  height: 84vh;
  width: 100vw;
  margin-right: 5.5vw;
  margin-left:.5vw;

}

#natS2-footer {
  height: 2vh;
  width: 100vw;

}

/*
#natS2-contents-phase2 {
  height: 75vh;
  width: 100vw;
  margin-right: 5.5vw;
  margin-left:.5vw
}
*/

#natS2-contents-phase2-countup {
  font-size: 7vh;  /* 11vh for pfa section */
  color: #e10000;
  font-family: 'Public Sans Thin', sans-serif;
  font-weight: normal;
  display: inline-block;
}

/*----------------------------------------------------------------------------*/

/* National Trends Section Two ('Stop and search is not working') */
/*----------------------------------------------------------------------------*/


#natS3 {
  min-height: 92vh;
  max-height: 92vh;
  width: 100vw;
}


#natS3-buffer {
  height: 6vh;
  width: 100vw;

}

#natS3-contents {
  height: 84vh;
  width: 100vw;
  margin-right: 5.5vw;
  margin-left:.5vw;

}

#natS3-footer {
  height: 2vh;
  width: 100vw;

}


#scrcon_nattrend_agg {

}

#temp {
  background-color: white;
}

 .tag-wrapper {
     position: absolute;
     top: 0px;
     left: 80px;
   }

.header, .footer {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0px;
  float: bottom;
  z-index: 99 !important;
  width: 103vw;
  height: 18vh;
  padding-left: 100px;
  margin-left: -5vw;
  margin-right: -5vw;
  background: #f6f7f8;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #999;
  
}


.selectize-dropdown  {
  text-align:left
}
.selectize-input  {
  text-align:left
}


.bootstrap-select .dropdown-menu li a span.text {
 display: inline-block;
 padding-top: 5px
}


#natS1-contents-phase1-countup {
  font-size: 8vh;  /* 11vh for pfa section */
  color: #e10000;
  float: center;
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
}

/*.selectize-input {
  border-color: #f0f2f4; 
  border-radius: 2vh;
  border-width: .55vh;
 /* inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6) */
  
.selectize-input {
  border-color: #f0f2f4; 
  border-radius: 1.8vh;
  border-width: .3vh;
  border-color: #f0f2f4;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 18px;
}

.selectize-input.focus {
  border-radius: 1.8vh;
  border-width: .3vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 18px;
}

.btn-default {
  border-color: #f0f2f4; 
  border-radius: 1.8vh;
  border-width: .3vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 18px;
}


.highcharts-pie-series .highcharts-point-hover,
/*.highcharts-pie-series .highcharts-point-select:hover,*/
.highcharts-pie-series:hover .highcharts-halo {
  transform: scale(1.3, 1.3);
}


* {
    font-family: 'Public Sans', sans-serif;
  }
  

/* #e7aee */



 /* All switch */
  .onoffswitch {
    width: 100px;
    position: relative;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    font-family:'Helvetica', sans-serif; 
  }
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 30px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 40px; padding: 0; line-height: 40px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}

/* All switch - default div class */
  .onoffswitch-inner:before {
    content: " ";
    padding-left: 10px;
  }

.onoffswitch-inner:after {
  content: " ";
  padding-right: 10px;
  text-align: right;
}

.onoffswitch-switch {
  display: block; width: 30px; height: 30px; margin: 6.5px;
  position: absolute; top: 0; bottom: 0;
  border-radius: 30px;
  right: 56px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

/* Color change */
  /* RedGreen */
  .RedGreen .onoffswitch-inner:before {
    background-color: #008A0C; color: #FFFFFF;
  }
.RedGreen .onoffswitch-inner:after {
  background-color: #D10000; color: #FFFFFF;
}

.RedGreen .onoffswitch-switch {
  background: #FFFFFF;
    border: 2px solid #FFFFFF;
}

/* GreyBlue */ 
  .GreyBlue .onoffswitch-inner:before {
    background-color: #FFFFFF; color: #428bca;
  }
.GreyBlue .onoffswitch-inner:after {
  background-color: #FFFFFF; color: #AAA;
}
.GreyBlue .onoffswitch-switch {
  background: #AAA;
    border: 2px solid #AAA;
}
.GreyBlue .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  background-color: #428bca;
}

/* Text change */
  /* On / Off */
  .OnOff .onoffswitch-inner:before {
    content: "ON";
  }

.OnOff .onoffswitch-inner:after {
  content: "OFF";
}
/* Yes / No */
  .YesNo .onoffswitch-inner:before {
    content: "YES";
  }

.YesNo .onoffswitch-inner:after {
  content: "NO";
}
/* True / False */
  .TrueFalse .onoffswitch-inner:before {
    content: "Narrative";
  }

.TrueFalse .onoffswitch-inner:after {
  content: "Dashboard";
}

.pageview-togggle {
  margin-left: 30px;
}





.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-anim,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-anim {
  background: #e10000;
  color: #333333;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-dash,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-dash {
  color: #333333;
}




.box-collapsible  {
  margin-left: 10px;
  margin-right: 10px;
}

.scroll-left {
 height: 30px;	
 overflow: hidden;
 position: relative;
 font-size:16px;
 font-family: 'Public Sans', sans-serif;
 color: #f5f5f5;
 background-color: #333333;
 border: 1px solid #333333;
 position: relative;
 width: 250%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 transform:translateX(50%);
 transform:translateX(50%);	
 transform:translateX(50%);
 /* Apply animation to this element */	
 animation: scroll-left 30s linear infinite;
 animation: scroll-left 30s linear infinite;
 animation: scroll-left 30s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   { transform: translateX(20%); }
 100% { transform: translateX(-50%); }
}
@keyframes scroll-left {
 0%   { transform: translateX(20%); }
 100% { transform: translateX(-50%); }
}
@keyframes scroll-left {
 0%   { 
 transform: translateX(20%); /* Browser bug fix */
 transform: translateX(20%); /* Browser bug fix */
 transform: translateX(20%); 		
 }
 100% { 
 transform: translateX(-50%); /* Browser bug fix */
 transform: translateX(-50%); /* Browser bug fix */
 transform: translateX(-50%); 
 }
}

.panel-expandible {
  margin-bottom: 2px;
}


.control-panel{
  max-width: 25vw;
}

.wrapper {
  max-width:100vw;
}



.text {
  padding-left: 15px;
  padding-top: 100px;
  text-align: left;
  /*font-size: 16px;*/
  word-wrap: break-word;
}

.sg{
  color: black;
    text-shadow: 2px 2px 14px #949494;
}

.sg-dark{
  color: black;
  text-shadow: 2px 2px 14px #24C96B;
}

.emph{
  font-size: 30px;
}

a:hover{
  color: black;
}

.irs irs--shiny js-irs-1 {
height: 12px; width: 2px; font-size: 2px;
}

#sidebar {
  margin-right:-2vw;
}


.fixed-ct {
  position: sticky;
  width:100vw;
  height:23vh;
  background: red;
}

/* At some point need to get this right so that animation is same for all screens, need to consider how dimensions of active section interaction with last-child section
.scrolly-section{
   margin-top: 10vh; 
}

/*.scrolly-sections .scrolly-section:last-child {
   margin-bottom: 100vh; 
}
*/
