 /* Import required fonts */
/***************************************/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap|Public%20Sans&display=swap');


hero-inner{
  padding-top: 5%;
}

/* Set size of all headers */
h3{

    font-size: 20px;
    font-weight:600
}

 
 
 h4{
  font-weight:bold;
}

 
p{

    font-size: 12px;
}
 


/* a grey container to place dashboard items in*/ 
.grey-container{
  background-color:transparent;
  margin-top: -4px;
}
 

 /* responsive layout for items placed in container - for larger screens*/
.container-inner-contents{
  display: flex;
  flex-direction: row;
  padding-left:-15px;
  padding-right:-15px;
  position: absolute;
  bottom: 0;
  padding-bottom: 2%;
  
}  

 /* responsive layout for items placed in container - for for smaller screens*/
@media (max-width: 800px) {
.container-inner-contents {
    flex-direction: column;
}
}




/* Hero home banner styles */
/***************************************/
.hero{
  /* Using "linear-gradient" to add gradient to the image. This will make the text easier to read */
  background-image: linear-gradient(to bottom right, #868686, rgba(0, 0, 0, 0)), url("stopwatch_banner.jpg") ;


 /* Set a specific height/add padding */
  height: 100vh;
  display: flex;
  padding-left:10px;
  padding-right:10px;
  padding-top:5%;
  padding-bottom:10px;
  margin-left:-15px;
  margin-right:-15px;

  /* Position and center the image to scale nicely on all screens */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}





.hero h1 {
  margin-left: 30px;
  font-family: 'Public Sans', sans-serif;
  height: 18vh;
  font-size: 13.5vh;
  color: white;
  font-weight: bold;
  margin-bottom: 3vh;
  
}

.hero h2 {
  margin-left: 30px;
  margin-bottom: 0px;
  font-family: 'Public Sans', sans-serif;
  height: 9vh;
  font-size: 7vh;
  color: white;
  font-weight: normal;
  margin-bottom: 10vh;
}


/* formatting the header within the hero
.hero h1{
  font-family: 'Public Sans', sans-serif;
  font-size: 72px;
  font-weight: 700;
  color:white;
  }
  
  
/* formatting the tagline within the hero
.hero h2{
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  color: white;
  margin-top: 5px;
  margin-bottom: 15px;
 
  }
  
*/

/* navbar style
/***************************************/
.navbar-default {
  font-family:  'Public Sans', sans-serif;
  border: none;
  margin: 0 !important;
  font-weight:bold; 
  padding: 5px;
  background-color: white;
  font-size: 16px;
}

.navbar-brand, .navbar-default:hover .navbar-brand:hover {
  padding: 10px;

}

/* Changes font to black in nav bar */
.navbar-default .navbar-nav > li > a {
  color: black;

}

/* Changes colour of active (clicked) tab on the nav bar */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  outline: 1px solid black;
  background-color: white;
  color: black;
}







/* section 2: boxes on homepage linking to different tabs*/ 


/* Homepage - styling clickable buttons to take to new tab*/
.featured-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    background-clip: border-box;
    box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
    flex:1; /* ensures that the boxes are evenly spaced in the container*/
    margin:5px;
    color: #333333;
    font-family: 'Public Sans', sans-serif;
    background-color: #ffffff;
    }
    
/* Homepage - styling clickable buttons to take to new tab - change backaground color to lght grey on hover*/    
 .featured-item:hover{
   cursor: pointer;
   background-color: #333333;
   color: #ffffff;
   

}   



/* Tab buttons - centre position all the text  */     
.features-text-section {
    text-align: center!important;
    padding: 1rem;
}




/* Format icons on homepage*/ 
.icon-box {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 15px auto 35px auto;
    margin-bottom:10px;
    background: #e10000;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

}




.intro-widget-box {
  padding-top: 5px; 
  margin-top: 60px;
  margin-left: -30px;
  margin-right: -30px;
  border-color: #333333;
  background-color: #333333;
  background: linear-gradient(rgba(51,51,51,.9), rgba(51,51,51,.9)),
    url('https://deck.gl/images/examples/hexagon-layer.jpg');
  min-height: 92vh;
  max-height: 92vh;
  width: 100vw;
    
}


.page-title {
  margin-left: 30px;
  font-family: 'Public Sans', sans-serif;
  height: 18vh;
  font-size: 13.5vh;
  color: white;
  font-weight: bold;
  margin-bottom: 3vh;
  
}

.page-subtitle {
  margin-left: 30px;
  margin-bottom: 0px;
  font-family: 'Public Sans', sans-serif;
  height: 9vh;
  font-size: 7vh;
  color: white;
  font-weight: normal;
  margin-bottom: 10vh;
}

.pageview-togggle {
  margin-left: 30px;
  font-family: 'Public Sans', sans-serif;
}

#pageview_toggle_nattre-label {
  color: white;
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
  font-size: 24px;
}

#pageview_toggle_nattre-stateText {
  color: white;
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
  font-size: 24px;
}

.label-primary {
  background-color: #e10000;
}
  
}
#pageview_toggle_nattre.ms-Toggle-background {
}

#pageview_toggle_nattre.ms-Toggle-background.pill-56 {
  background-color: #e10000;
}
.label.switch.label-primary.bg-primary {
  background-color: #e10000;
}

#label.switch.label-primary.bg-primary {
  background-color: #e10000;
}

#pageview-desc-nattre {
  margin-left: 30px;
  color: white;
}

 /* All switch */
  .onoffswitch {
    width: 100px;
    position: relative;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    font-family:'Helvetica', sans-serif; 
  }
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 30px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 40px; padding: 0; line-height: 40px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}

/* All switch - default div class */
  .onoffswitch-inner:before {
    content: " ";
    padding-left: 10px;
  }

.onoffswitch-inner:after {
  content: " ";
  padding-right: 10px;
  text-align: right;
}

.onoffswitch-switch {
  display: block; width: 30px; height: 30px; margin: 6.5px;
  position: absolute; top: 0; bottom: 0;
  border-radius: 30px;
  right: 56px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

/* Color change */
  /* RedGreen */
  .RedGreen .onoffswitch-inner:before {
    background-color: #008A0C; color: #FFFFFF;
  }
.RedGreen .onoffswitch-inner:after {
  background-color: #D10000; color: #FFFFFF;
}

.RedGreen .onoffswitch-switch {
  background: #FFFFFF;
    border: 2px solid #FFFFFF;
}

/* GreyBlue */ 
  .GreyBlue .onoffswitch-inner:before {
    background-color: #FFFFFF; color: #428bca;
  }
.GreyBlue .onoffswitch-inner:after {
  background-color: #FFFFFF; color: #AAA;
}
.GreyBlue .onoffswitch-switch {
  background: #AAA;
    border: 2px solid #AAA;
}
.GreyBlue .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  background-color: #428bca;
}

/* Text change */
  /* On / Off */
  .OnOff .onoffswitch-inner:before {
    content: "ON";
  }

.OnOff .onoffswitch-inner:after {
  content: "OFF";
}
/* Yes / No */
  .YesNo .onoffswitch-inner:before {
    content: "YES";
  }

.YesNo .onoffswitch-inner:after {
  content: "NO";
}
/* True / False */
  .TrueFalse .onoffswitch-inner:before {
    content: "Narrative";
  }

.TrueFalse .onoffswitch-inner:after {
  content: "Dashboard";
}

.pageview-togggle {
  margin-left: 30px;
}





.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-anim,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-anim {
  background: #e10000;
  color: #333333;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-dash,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-dash {
  color: #333333;
}




.box-collapsible  {
  margin-left: 10px;
  margin-right: 10px;
}

.scroll-left {
 height: 30px;	
 overflow: hidden;
 position: relative;
 font-size:16px;
 font-family: 'Public Sans', sans-serif;
 color: #f5f5f5;
 background-color: #333333;
 border: 1px solid #333333;
 position: relative;
 width: 250%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 transform:translateX(50%);
 transform:translateX(50%);	
 transform:translateX(50%);
 /* Apply animation to this element */	
 animation: scroll-left 30s linear infinite;
 animation: scroll-left 30s linear infinite;
 animation: scroll-left 30s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   { transform: translateX(20%); }
 100% { transform: translateX(-50%); }
}
@keyframes scroll-left {
 0%   { transform: translateX(20%); }
 100% { transform: translateX(-50%); }
}
@keyframes scroll-left {
 0%   { 
 transform: translateX(20%); /* Browser bug fix */
 transform: translateX(20%); /* Browser bug fix */
 transform: translateX(20%); 		
 }
 100% { 
 transform: translateX(-50%); /* Browser bug fix */
 transform: translateX(-50%); /* Browser bug fix */
 transform: translateX(-50%); 
 }
}

.panel-expandible {
  margin-bottom: 2px;
}


.control-panel{
  max-width: 25vw;
}

.wrapper {
  max-width:100vw;
}



.text {
  padding-left: 15px;
  padding-top: 100px;
  text-align: left;
  font-size: 16px;
  word-wrap: break-word;
}

.sg{
  color: black;
    text-shadow: 2px 2px 14px #949494;
}

.sg-dark{
  color: black;
  text-shadow: 2px 2px 14px #24C96B;
}

.emph{
  font-size: 30px;
}

a:hover{
  color: black;
}

/* At some point need to get this right so that animation is same for all screens, need to consider how dimensions of active section interaction with last-child section
.scrolly-section{
   margin-top: 10vh; 
}

/*.scrolly-sections .scrolly-section:last-child {
   margin-bottom: 100vh; 
}
*/
